model_config_list {
  config {
    name: "political-bias-detection-model"
    base_path: "/models/political-bias-detection-model"
    model_platform: "tensorflow"
    model_version_policy {
      latest {
        num_versions: 1
      }
    }

    # Enable model warmup
    model_warmup {
      # Warmup requests are stored in this file
      name: "warming_up"
      batch_input {
        # Read warmup requests from this file
        source_path: "/models/warmup/model_warmup.json"
      }
    }
  }
}
